@media screen and (max-width: 1441px) {
  .cd-header {
    width: 1440px;
    height: 80px;
    position: fixed;
  }
  .cd-container-header {
    width: 1280px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    margin: 18px 80px;
  }

  .cd-box-header {
    width: 378px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .cd-menu {
    width: 205px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 4px 0;
  }
  .cd-menu a {
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--color-title);
  }
  .cd-menu img {
    display: none;
  }
  .cd-menu-login {
    width: 187px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .cd-btn-primary {
    width: 82px;
    height: 44px;
    border: none;
    cursor: pointer;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    background-color: var(--bg-body);
    color: var(--color-title);
  }
  .cd-btn-secundary {
    width: 93px;
    height: 44px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    background-color: var(--bg-button);
    color: var(--color-btn);
  }
}
