@media screen and (max-width: 376px) {
  /* HEADER */

  .cd-header {
    width: 375px;
    height: 58px;
    position: fixed;
  }
  .cd-container-header {
    width: 335px;
    height: 30px;
    margin: 14px 20px 0;
  }
  .cd-box-header {
    width: 335px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 188px;
  }
  .cd-logo {
    width: 125px;
    height: 30px;
  }
  .cd-logo img {
    width: 125px;
    height: 30px;
  }
  .cd-menu {
    width: 23px;
    height: 26px;
  }
  .cd-menu a {
    display: none;
  }
  .cd-menu-login {
    display: none;
  }
  /* SECTION 01 */

  .cd-section-1 {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 20px 0;
  }
  .cd-container-section-1 {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    border: none;
  }
  .cd-box-text {
    width: 335px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
  }
  .cd-title-btn {
    width: 335px;
    height: 177px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }
  .cd-btn-section-1 {
    width: 257px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px 4px 4px;
    gap: 12px;
    background: var(--bg-button);
    border-radius: 16px;
    cursor: pointer;
    border: none;
  }
  .cd-btn-section-1 a {
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #7f56d9;
  }
  .cd-arrow-right {
    width: 9px;
    height: 9px;
  }
  .cd-btn-new {
    width: 53px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px;
    background: var(--bg-btn-new);
    color: var(--color-btn-new);
    mix-blend-mode: normal;
    border-radius: 16px;
    border: none;
  }

  .cd-box-images {
    width: 335px;
    height: 336px;
    display: block;
    margin: 0;
    padding: 0;
  }

  .cd-title-btn h1 {
    width: 335px;
    height: 129px;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: var(--color-title);
  }
  .cd-title-description {
    width: 335px;
    height: 253px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }
  .cd-title-description p {
    width: 335px;
    height: 60px;
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-p);
  }
  .cd-btns-store {
    width: 304px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0;
    gap: 15px;
  }
  .cd-btns-store button {
    width: 142px;
    height: 50px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .cd-btns-store-aple img {
    width: 117px;
    height: 24px;
  }
  .cd-btns-store-play img {
    width: 105px;
    height: 24px;
  }
  /* SECTION 02 */

  .cd-section-2 {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 64px;
    margin: 0;
  }
  .cd-container-section-2 {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 52px;
  }
  .cd-box-text-2 {
    width: 335px;
    height: 32px;
    display: flex;
    align-items: center;
  }
  .cd-box-text-2 h1 {
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .cd-box-cards {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 27px;
  }
  .cd-box-cards-small {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
  }
  .cd-box-cards-small-up,
  .cd-box-cards-small-down {
    width: 335;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 27px;
  }
  .cd-box-small-1 {
    width: 335px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 39px 65px 20px;
    gap: 31px;
    background: var(--bg-box);
    border-radius: 24px;
  }
  .cd-box-small-1 h1 {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small-1 p {
    width: 276px;
    height: 81px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small-2 {
    width: 335px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 53px;
    gap: 27px;
    background: var(--bg-box);
    border-radius: 23px;
  }
  .cd-box-small-2 h1 {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small-2 p {
    width: 299px;
    height: 81px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small {
    width: 335px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 87px;
    gap: 19px;
    background: var(--bg-box);
    border-radius: 23px;
  }
  .cd-box-small h1 {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
  .cd-box-large {
    width: 335px;
    height: 574px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 65px;
    gap: 85px;
    background: var(--bg-box);
    border-radius: 23px;
  }
  .cd-box-large-text {
    width: 276px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 21px;
  }
  .cd-box-large-text h1 {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    align-items: center;
    text-align: center;
  }
  .cd-box-large-text p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }

  /* SECTION 03 */

  .cd-section-3 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px;
  }
  .cd-container-section-3 {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 65px;
    background-color: var(--bg-box);
    border-radius: 25px;
  }
  .cd-box-btn-text {
    width: 295px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 20px 0;
    gap: 32px;
  }
  .cd-btn-section-3 {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 26px 16px 28px;
    gap: 20px;
    background: var(--bg-button);
    border-radius: 405px;
    border: none;
    color: var(--color-btn);
  }
  .cd-box-btn-text a {
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
  }
  .cd-box-text-3 {
    width: 295px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
  }
  .cd-box-text-3 h1 {
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    color: var(--color-title);
  }
  .cd-box-text-3 p {
    width: 295px;
    height: 180px;
    font-family: "Satoshi";
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    color: var(--color-p-section-3);
  }
  /* FOOTERS */
  /* PRIMEIRO FOOTER: */
  .cd-footer-1 {
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 70px 20px 83px;
  }
  .cd-footer-container {
    width: 335px;
    height: 112px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 24px;
  }
  .cd-footer-container p {
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    align-items: center;
  }
  .cd-footer-ads {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 24px;
  }
  .cd-footer-ads-stripe {
    width: 42px;
    height: 17px;
  }
  .cd-footer-ads-orfium {
    width: 90px;
    height: 17px;
  }
  .cd-footer-ads-kinsta {
    width: 88px;
    height: 17px;
  }
  .cd-footer-ads-bankable {
    width: 103px;
    height: 17px;
  }
  .cd-footer-ads-nowports {
    width: 78px;
    height: 19px;
  }
  /* SEGUNDO FOOTER: */

  .cd-footer-2 {
    width: 375px;
    height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }
  .cd-footer-container-2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    gap: 32px;
  }
  .cd-box-footer-2 {
    width: 335px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  .cd-footer-social-icons {
    width: 320px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    padding: 32px 0 24px;
    order: 2;
  }
  .cd-box-footer-2 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--color-title);
    order: 3;
  }
  .cd-logo-footer-2 {
    width: 133px;
    height: 32px;
    margin-bottom: 48px;
  }
  .cd-line-divisor-mobile {
    width: 335px;
    height: 1px;
    background: #a0aec0;
    order: 1;
  }
}
