@media screen and (min-width: 1000px) {
  /* SECTION 02 */

  .cd-section-2 {
    width: 100%;
    padding: 96px 80px;
    gap: 64px;
  }

  .cd-container-section-2 {
    width: 100%;
    padding: 0px;
    gap: 52px;
  }

  .cd-box-text-2 {
    width: 708.64px;
    height: 58px;
    flex-direction: column;
    padding: 0px;
    gap: 32px;
  }

  .cd-box-text-2 h1 {
    width: 708px;
    height: 64px;
    font-size: 43px;
    line-height: 58px;
    letter-spacing: -1.824px;
  }

  .cd-box-cards {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .cd-box-cards-small {
    width: 844px;
    height: 660px;
  }

  .cd-box-cards-small-up,
  .cd-box-cards-small-down {
    width: 843px;
    height: 316px;
    flex-direction: row;
    align-items: flex-start;
  }

  .cd-box-small-1 {
    width: 408px;
    height: 316px;
  }

  .cd-box-small-2 {
    width: 406px;
    height: 315px;
  }

  .cd-box-small {
    width: 408px;
    height: 316px;
  }

  .cd-box-large {
    width: 408px;
    height: 660px;
  }
}