@media screen and (max-width: 1441px) {
.cd-section-1 {
  width: 1440px;
  height: 847px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 144px 0px 96px;
  gap: 64px;
}
.cd-container-section-1 {
  width: 1280px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 64px 32px;
  gap: 32px;
}
.cd-box-text {
  width: 579px;
  height: 402px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
  margin: 102px 0;
}
.cd-title-btn {
  width: 579px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.cd-btn-section-1 {
  width: 257px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px 4px 4px;
  gap: 12px;
  background: var(--bg-button);
  border-radius: 16px;
  cursor: pointer;
  border: none;
}
.cd-btn-section-1 a {
  font-family: 'Satoshi';
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #7f56d9;
}
.cd-arrow-right {
  width: 9px;
  height: 9px;
}
.cd-btn-new {
  width: 53px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;
  background: var(--bg-btn-new);
  color: var(--color-btn-new);
  mix-blend-mode: normal;
  border-radius: 16px;
  border: none;
}

.cd-box-images {
  width: 604.75px;
  height: 607.5px;
  display: block;
  margin: 0;
  padding: 0;
}

.cd-title-btn h1 {
  width: 489px;
  height: 177px;
  font-family: 'Satoshi';
  font-weight: 700;
  font-size: 44px;
  line-height: 59px;
  letter-spacing: -0.02em;
  padding-right: 90px;
  color: var(--color-title);
}
.cd-title-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 579px;
  height: 309px;
}
.cd-title-description p {
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-p);
}
.cd-btns-store {
  width: 372px;
  height: 61px;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0;
  gap: 15px;
}
.cd-btns-store button {
  width: 178px;
  height: 61px;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
}
}