* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
header {
  background-color: #060809;
}

@media screen and (min-width: 320px) {
  .cd-logo {
    width: 134px;
    height: 32px;
    margin: 6px 0;
  }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
  .cd-container-header {
    width: 1280px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    margin: 18px 80px 0;
  }

  .cd-box-header {
    width: 378px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 40px;
  }
  .cd-menu {
    width: 205px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 32px;
    margin: 4px 0;
  }
  .cd-menu a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }
  .cd-menu-login {
    width: 187px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
  }
  .cd-btn-primary {
    width: 82px;
    height: 44px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .cd-btn-secundary {
    width: 93px;
    height: 44px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  }
  .cd-section-1 {
    width: 1440px;
    height: 767px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 64px 0px 96px;
    gap: 64px;
  }
  .cd-container-section-1 {
    width: 1280px;
    height: 607px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0px 32px;
    gap: 32px;
  }
  .cd-box-text {
    width: 579px;
    height: 402px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    margin: 102px 0;
  }
  .cd-box-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #e7e7e7;
  }
  .cd-title-btn {
    width: 579px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }
  .cd-btn-section-1 {
    width: 257px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px 4px 4px;
    gap: 12px;
    background: #f9f5ff;
    border-radius: 16px;
    cursor: pointer;
    border: none;
  }
  .cd-btn-section-1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #7f56d9;
  }
  .cd-arrow-right {
    width: 9px;
    height: 9px;
  }
  .cd-btn-new {
    width: 53px;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px;
    background: #7f56d9;
    color: #f9f5ff;
    mix-blend-mode: normal;
    border-radius: 16px;
    border: none;
  }

  .cd-box-images {
    width: 604.75px;
    height: 607.5px;
    display: block;
    margin: 0;
    padding: 0;
  }

  .cd-title-btn h1 {
    width: 489px;
    height: 177px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: -0.02em;
    padding-right: 90px;
  }
  .cd-title-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 579px;
    height: 309px;
  }
  .cd-title-description p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #e7e7e7;
  }
  .cd-btns-store {
    width: 372px;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0;
    gap: 15px;
  }
  .cd-btns-store button {
    width: 178px;
    height: 61px;
    border-radius: 12px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .cd-footer-1 {
    width: 1440px;
    height: 183px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 80px;
  }
  .cd-footer-container {
    width: 1280px;
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;
  }
  .cd-footer-container p {
    width: 270px;
    height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 27px;
    display: flex;
    align-items: center;
  }
  .cd-footer-ads {
    width: 1280px;
    height: 31px;
    display: flex;
    flex-direction: row;
    align-content: space-between center;
    padding: 0px;
    gap: 142px;
  }
  .cd-section-2 {
    width: 1440px;
    height: 962px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 80px;
    gap: 64px;
  }
  .cd-container-section-2 {
    width: 1280px;
    height: 770px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 52px;
  }
  .cd-box-text-2 {
    width: 708px;
    height: 58px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
  }
  .cd-box-text-2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 43px;
    line-height: 58px;
  }
  .cd-box-cards {
    width: 1280px;
    height: 660px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
  }
  .cd-box-cards-small {
    width: 844.16px;
    height: 660.3px;
    width: 844.16px;
    height: 660.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 27px;
  }
  .cd-box-cards-small-up,
  .cd-box-cards-small-down {
    width: 843px;
    height: 316px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
  }
  .cd-box-small-1 {
    width: 408px;
    height: 316px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 39px 65px 20px;
    gap: 31px;
    background: #1b1c20;
    border-radius: 24px;
  }
  .cd-box-small-1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small-1 p {
    width: 276px;
    height: 81px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small-2 {
    width: 406px;
    height: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 53px;
    gap: 27px;
    background: #1b1c20;
    border-radius: 23px;
  }
  .cd-box-small-2 h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24.8301px;
    line-height: 34px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small-2 p {
    width: 299px;
    height: 81px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small {
    width: 408px;
    height: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 87px;
    gap: 19px;
    background: #1b1c20;
    border-radius: 23px;
  }
  .cd-box-small h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 23px;
    line-height: 32px;
    align-items: center;
    text-align: center;
  }
  .cd-box-small p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
  .cd-box-large {
    width: 408px;
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 39px 65px;
    gap: 85px;
    background: #1b1c20;
    border-radius: 23px;
  }
  .cd-box-large-text {
    width: 276px;
    height: 109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 21px;
  }
  .cd-box-large-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    align-items: center;
    text-align: center;
  }
  .cd-box-large-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1364px) {
}

@media screen and (min-width: 1600px) {
}

/* CLASSES UTILITARIAS */

.cd-text-purple {
  color: #712fff;
}
.cd-text-white {
  color: #ffffff;
}
.cd-text-light-gray {
  color: #e7e7e7;
}
.cd-text-gray {
  color: #383a47;
}
.cd-bg-light {
  background-color: #ffffff;
}
.cd-bg-dark {
  background-color: #060809;
}
